<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="NFineDbContext" connectionString="Server=.;Initial Catalog=NFineBase;User ID=sa;Password=qwertyuiop" providerName="System.Data.SqlClient" />-->

 <add name="NFineDbContext" connectionString="Data Source=39.108.140.20;Initial Catalog =Miao; user id=sa; password=Yan123;" providerName="System.Data.SqlClient" />
</connectionStrings>